

.s7{

    background-color:#F1F4F8 ;
    @include primary-padding;

    @include respond(tab-land){
       @include primary-tab-padding;
          
      }
    @include respond(phone){
       @include primary-phone-padding;
          
      }
    &__heading{

        text-align: center;
        @include cortexflo-color;
        padding-bottom: 5rem;


    }

    &__container{
        //padding-left: 2rem;

        &-hardware {
           
            display: inline-block;
            border-bottom: 2px solid #AA1D5C;
            padding-bottom: 2rem;
            & h3 {
                font-size: 2.5rem;
            }
          
        }

    }




}



/*patch*/

.apply-flex{


    border-bottom: 1px solid rgba(92, 105, 119, 0.5);

    padding:5rem 0rem;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    align-items: center;

                    @include respond(tab-port){
                        
                        grid-template-columns: 0.2fr 0.4fr 0.4fr;
                    }
                    @include respond(phone){
                        padding-left: 2rem;
                        align-items: flex-start;
                        display: flex;
                        flex-direction: column;
                    }
                    
   
    & li{
        
           list-style: disc;    
        }
    }



    .apply-grid{


        border-bottom: 1px solid rgba(92, 105, 119, 0.5);
    
        padding:5rem 0rem;
       
        display: grid;
        grid-template-columns:0.33fr 0.67fr;
        justify-self: left;
        gap: 0;
        align-items: center;
        @include respond(tab-port){
            grid-template-columns:0.3fr 0.7fr;            
            gap: 1.5rem;
        }
       
        & li{
            
               list-style: disc;    
            }
        }


    .software{

        .s7__container-software{
            display: inline-block;
            padding-top: 5rem;
         
            border-bottom: 2px solid #AA1D5C;
            padding-bottom: 2rem;
            & h3 {
                font-size: 2.5rem;
            }
            
           

        }




    }