.header__landing {



    position: relative;
    
    height: 100vh;
    background-image: url(/image/wave.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto;
    
    
    &-image  {
            
        position: absolute;
        padding-bottom: 3rem;
        top: 27%;
        left: 50%;
        transform: translate(-27%, -50%);
        background-color: rgb(255, 255, 255);
        z-index: 1;
        & img{
            filter:drop-shadow(8px 8px 10px gray) brightness(1.2);
            width: 100%;
            height: auto;
        }

        
        @include respond(tab-port){
            
            
        }
    }

    

    &-text {
        position: absolute;
        padding-bottom: 7rem;
        top: 50%;
        left: 20%;
        transform: translate(-20%, -50%);
                     @include respond(phone){
                      width: 100%;
                      padding:1.5rem;
                        
                       left: 50%;
                       transform: translate(-50%, -70%);
                       text-align: center;
                                    }           
    }


    
   

    &-text h1 {
       
        text-transform: uppercase;
        font-weight: 600;
        padding-bottom: 2rem;
    }
                /*this is done to style auto typed text*/
                #typed{
                  //  padding-bottom: 3.5rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: rgb(0, 0, 0);
                    
                }
                  
                
    &-text blockquote {
       padding-top: 2rem;
        padding-bottom: 5rem;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.3rem;
        color: rgb(0, 0, 0);
        width: 80%;

       
           
                    animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
       


        @include respond(tab-land){
            width: 70%;
        }
         @include respond(phone){
             width: 100%;
             font-size: 2rem;
             line-height: 4rem;
             font-weight: 400;
             padding: 2rem 1.5rem 0rem 1.5rem;
         }
    }


    &-text h1 span {
        @include cortexflo-color;
        
    }
    

    &-text h4 {
      
        
        font-weight: 300;
        color: white;
        padding-bottom: 3.5rem;
        
    }

    &-text a{
        backface-visibility: hidden;
        position: relative;
        transition: all 0.5s;
        &:first-child{
            margin-right: 2rem;
        }
    }



    .butn-container{
        display: flex;
        align-items: center;
        flex: 1 1 auto;

       
    }


}