.s9__heading{

@include cortexflo-color;
text-align: center;

}
.main__section-book{

    padding: 8rem 10rem;
    background-color:#F1F4F8 ;
}

.main__section-book-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  
  .main__section-book-box .form-head {
    margin-top: 6rem;
    background-color: white;
  }

  .booking-form {
    background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.466) 0%, rgba(255, 255, 255, 0.8) 55%, transparent 50%), url(/image/form.jpg);
    background-size: cover;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    height: auto;
    margin: 10rem 15rem;
    padding: 5rem 3rem;
  }
  
.form{

    &__group{

        margin-right: 55rem;

        @include respond(tab-port){
            margin-right: 40rem;
        }
        @include respond(phone){
            margin-right: 25rem;
        }
        @include respond(phone-small){
            margin-right: 2rem;
            padding-left: 1rem;
            
        }
    }

    &__group:not(:last-child){

        margin-top: 2rem;

        
    }
        &__heading{

            font-size: 2.5rem;
            padding-left: 3.5rem;
            padding-top: 2rem;
        }
    

    &__input{

        font-size: 1.3rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.7);
        border: none;
        border-bottom: 3px solid transparent;
        display: block;
        box-shadow: none;
        width: 100%;
        display: block;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
       
        @include respond(phone-small){
            
            font-size: 1.8rem;
        }

        &:focus{

            outline: none;
            border-bottom: 3px solid rgba(40, 180, 131, 0.8);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
        }

       
        &:focus:invalid{
            
            border-bottom: 3px solid orangered;
            outline: none;
            
        }

        &::-moz-input-placeholder{

            color: #999;

        }
        
    }

    &__label{

        font-size: 1.0rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        display: block;
       
        
        
    }


     &__input:placeholder-shown + &__label{

        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(-4rem);
                transform: translateY(-4rem);
    }

    
    
}


.main__submit-button{

   padding-top: 3rem;
    
   @include respond(phone-small){
    
    padding-top: 5rem;
    padding-left: 12rem;
    
    }
}

.form__radio-label{
    @include respond(phone-small){
        padding: 2rem;
    font-size: 1.5rem;
    color: white;
    }
    
}