



.pagination{

    position: fixed;
    top: 50%;
    right: 1%;
    transform: translate(-1%, -50%);    

 
}
 
.pagination__list{
    
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    
}


.pagination__list-item{
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}


.pagination__list-item a {
    display: block;
    background-color: rgb(255, 255, 255);
    width: 8px;
    height:8px;
    border-radius: 50%;
    margin: 1rem;
    border:2px solid rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.1s ease-in;
    
    &:hover{
        background-color: black;
        transform: scale(1.5) translateY(-0.1rem);

        
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);

    }

    &:active{

        
        transform: translateY(-.1rem);
    
        box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
    }

    
}

.clicked{

    
    background-color: rgb(151, 69, 69)!important;
    transform: scale(1) translateY(0.1rem)!important;
    
    box-shadow: none;
}

.pagination__list li{

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    transition: all 0.5s ease;
}


    .pagination ul li span:last-child{

        border-radius: 3px;
        padding: 0 0.5rem;
       // background: rgb(0, 0, 0);
        opacity: 0;
        font-size:1rem;
        font-weight: 500;
        color:  #AA1D5C;
        transition: all 0.5s ease;
    }



 
    