


h1{

    font-size: 3.5rem;
    color: rgb(0, 0, 0);
    line-height: 5.8rem;
    font-weight: 400;
    letter-spacing: 0;


}

h2{

   // font-family: serif;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 3.4rem;
    font-weight: 600;
    letter-spacing:0.5px;
    color: rgb(0, 0, 0);

}

h3{

    font-size: 1.8rem;
    line-height: 3.4rem;
    font-weight: 500;
    letter-spacing:0.5px;
    color: rgb(0, 0, 0);


}



h4{

    font-size: 1.5rem;
    line-height: 3.4rem;
    font-weight: 500;
    letter-spacing:0.5px;
    color: rgb(0, 0, 0);
}
         

p{

    font-size: 1.4rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
    font-weight: 400;
   
    color: #202329;

      
}

a{
    text-decoration: none;
}


li{
    list-style: none;
}